@charset "UTF-8";
* {}
html {
  font-size: small !important;  /* だいたい13px？*/
}

h1,h2,h3,h4,h5 {
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.4;
}
h1 {
  margin-top: 20px;
  font-size: 230%;
  border-bottom: 1px solid #eee;
}
h2 {
  margin-top: 15px;
  font-size: 161%;
  border-bottom: 1px solid #eee;
}
h3 {
  margin-top: 15px;
  font-size: 123%;
}
h4 {
  margin-top: 15px;
  font-size: 100%;
  /* TODO bold的な */
}
h5 {
  margin-top: 15px;
  font-size: 100%;
  /* TODO bold的な */
}
h6 {
  margin-top: 15px;
  font-size: 100%;
  /* TODO bold的な */
}